{
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 80,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn",
        "cva"
    ],
    "tailwindStylesheet": "resources/css/app.css",
    "overrides": [
        {
            "files": ["**/*.yml", "**/*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
